body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
}

.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .image-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.rotating-image {
    position: absolute;
    width: 300px;
    height: 480px;
    animation: rotate 10s infinite linear, moveToCenter 10s forwards;
}

@keyframes rotate {
    from {
        /* background-image: url(my.jfif); */
        transform: rotate(0deg);
    }
    to {
        /* background-image: url(nine.jfif); */
        transform: rotate(360deg);
    }
}

@keyframes moveToCenter {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.final-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: revealFinalImage 1s 10s forwards;
    
}

@keyframes revealFinalImage {
    to {
        opacity: 1;
    }
}
