/* body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
} */

.container {
    text-align: center;
    max-width: 1200px;
}

.episode {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: calc(23.333% - 30px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    vertical-align: top;
}

.episode video {
    width: 100%;
    border-radius: 8px;
}


.episode-container {
    position: absolute;
    top: 300;
    right: 0;
    width: calc(100% - 20px);  /* Adjust width if necessary */
    text-align: left;
}

@media (max-width: 768px) {
    .episode {
        width: calc(50% - 30px);
    }
}

@media (max-width: 480px) {
    .episode {
        width: calc(100% - 30px);
    }
}
li{
    padding-left: 30px;
}
form{
    padding-left: 300px;
}